body {
    position: relative;
}

span.github {
    background:url('data:image/svg+xml;utf8,<svg width="1em" height="1em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.58 31.77"><path style="fill:rgb(25,23,23);fill-rule:evenodd;" d="M16.29,0a16.29,16.29,0,0,0-5.15,31.75c.82.15,1.11-.36,1.11-.79s0-1.41,0-2.77C7.7,29.18,6.74,26,6.74,26a4.36,4.36,0,0,0-1.81-2.39c-1.47-1,.12-1,.12-1a3.43,3.43,0,0,1,2.49,1.68,3.48,3.48,0,0,0,4.74,1.36,3.46,3.46,0,0,1,1-2.18c-3.62-.41-7.42-1.81-7.42-8a6.3,6.3,0,0,1,1.67-4.37,5.94,5.94,0,0,1,.16-4.31s1.37-.44,4.48,1.67a15.41,15.41,0,0,1,8.16,0c3.11-2.11,4.47-1.67,4.47-1.67A5.91,5.91,0,0,1,25,11.07a6.3,6.3,0,0,1,1.67,4.37c0,6.26-3.81,7.63-7.44,8a3.85,3.85,0,0,1,1.11,3c0,2.18,0,3.94,0,4.47s.29.94,1.12.78A16.29,16.29,0,0,0,16.29,0Z"/></svg>');
    display:inline-block;
    width:1em;
    height:1em;
    vertical-align:middle;
}

span.youtube {
    background:url('data:image/svg+xml;utf8,<svg width="1em" height="1em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176 124"><path style="fill:red;" d="M172.32,19.36A22.12,22.12,0,0,0,156.76,3.7C143,0,88,0,88,0S33,0,19.24,3.7A22.12,22.12,0,0,0,3.68,19.36C0,33.18,0,62,0,62s0,28.82,3.68,42.64A22.12,22.12,0,0,0,19.24,120.3C33,124,88,124,88,124s55,0,68.76-3.7a22.12,22.12,0,0,0,15.56-15.66C176,90.82,176,62,176,62S176,33.18,172.32,19.36Z"/><polygon style="fill:white;" points="70 88.17 116 62 70 35.83 70 88.17"/></svg>');
    display:inline-block;
    width:1em;
    height:1em;
    vertical-align:middle;
}

span.twitter {
    background:url('data:image/svg+xml;utf8,<svg width="1em" height="1em" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 248 204"><path style="fill:%231D9BF0;" d="M 221.95 51.29 c 0.15 2.17 0.15 4.34 0.15 6.53 c 0 66.73 -50.8 143.69 -143.69 143.69 v -0.04 C 50.97 201.51 24.1 193.65 1 178.83 c 3.99 0.48 8 0.72 12.02 0.73 c 22.74 0.02 44.83 -7.61 62.72 -21.66 c -21.61 -0.41 -40.56 -14.5 -47.18 -35.07 c 7.57 1.46 15.37 1.16 22.8 -0.87 C 27.8 117.2 10.85 96.5 10.85 72.46 c 0 -0.22 0 -0.43 0 -0.64 c 7.02 3.91 14.88 6.08 22.92 6.32 C 11.58 63.31 4.74 33.79 18.14 10.71 c 25.64 31.55 63.47 50.73 104.08 52.76 c -4.07 -17.54 1.49 -35.92 14.61 -48.25 c 20.34 -19.12 52.33 -18.14 71.45 2.19 c 11.31 -2.23 22.15 -6.38 32.07 -12.26 c -3.77 11.69 -11.66 21.62 -22.2 27.93 c 10.01 -1.18 19.79 -3.86 29 -7.95 C 240.37 35.29 231.83 44.14 221.95 51.29 Z"/></svg>');
    display:inline-block;
    width:1em;
    height:1em;
    vertical-align:middle;
}

span.pdf {
    background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 75.320129 92.604164" height="92.604164mm" width="75.320129mm"><g transform="translate(36.076172,-93.731774) matrix(1.4843054,0,0,1.4843054,17.471885,-90.243502)" style="stroke:none;"><path style="fill:rgb(255,33,22);" d="m -29.632812,123.94727 c -3.551967,0 -6.44336,2.89347 -6.44336,6.44531 v 49.49804 c 0,3.55185 2.891393,6.44532 6.44336,6.44532 H 8.2167969 c 3.5519661,0 6.4433591,-2.89335 6.4433591,-6.44532 v -40.70117 c 0,0 0.101353,-1.19181 -0.416015,-2.35156 -0.484969,-1.08711 -1.275391,-1.84375 -1.275391,-1.84375 a 1.0584391,1.0584391 0 0 0 -0.0059,-0.008 L 3.5722246,125.7752 a 1.0584391,1.0584391 0 0 0 -0.015625,-0.0156 c 0,0 -0.8017392,-0.76344 -1.9902344,-1.27344 -1.39939552,-0.6005 -2.8417968,-0.53711 -2.8417968,-0.53711 l 0.021484,-0.002 z"/><path style="fill:rgb(245,245,245);" d="m -29.632812,126.06445 h 28.3789058 a 1.0584391,1.0584391 0 0 0 0.021484,0 c 0,0 1.13480448,0.011 1.96484378,0.36719 0.79889772,0.34282 1.36536982,0.86176 1.36914062,0.86524 1.25e-5,1e-5 0.00391,0.004 0.00391,0.004 l 9.3671868,9.18945 c 0,0 0.564354,0.59582 0.837891,1.20899 0.220779,0.49491 0.234375,1.40039 0.234375,1.40039 a 1.0584391,1.0584391 0 0 0 -0.002,0.0449 v 40.74609 c 0,2.41592 -1.910258,4.32813 -4.3261717,4.32813 H -29.632812 c -2.415914,0 -4.326172,-1.91209 -4.326172,-4.32813 v -49.49804 c 0,-2.41603 1.910258,-4.32813 4.326172,-4.32813 z"/><path style="fill:rgb(255,33,22);" d="m -23.40766,161.09299 c -1.45669,-1.45669 0.11934,-3.45839 4.39648,-5.58397 l 2.69124,-1.33743 1.04845,-2.29399 c 0.57665,-1.26169 1.43729,-3.32036 1.91254,-4.5748 l 0.8641,-2.28082 -0.59546,-1.68793 c -0.73217,-2.07547 -0.99326,-5.19438 -0.52872,-6.31588 0.62923,-1.51909 2.69029,-1.36323 3.50626,0.26515 0.63727,1.27176 0.57212,3.57488 -0.18329,6.47946 l -0.6193,2.38125 0.5455,0.92604 c 0.30003,0.50932 1.1764,1.71867 1.9475,2.68743 l 1.44924,1.80272 1.8033728,-0.23533 c 5.72900399,-0.74758 7.6912472,0.523 7.6912472,2.34476 0,2.29921 -4.4984914,2.48899 -8.2760865,-0.16423 -0.8499666,-0.59698 -1.4336605,-1.19001 -1.4336605,-1.19001 0,0 -2.3665326,0.48178 -3.531704,0.79583 -1.202707,0.32417 -1.80274,0.52719 -3.564509,1.12186 0,0 -0.61814,0.89767 -1.02094,1.55026 -1.49858,2.4279 -3.24833,4.43998 -4.49793,5.1723 -1.3991,0.81993 -2.86584,0.87582 -3.60433,0.13733 z m 2.28605,-0.81668 c 0.81883,-0.50607 2.47616,-2.46625 3.62341,-4.28553 l 0.46449,-0.73658 -2.11497,1.06339 c -3.26655,1.64239 -4.76093,3.19033 -3.98386,4.12664 0.43653,0.52598 0.95874,0.48237 2.01093,-0.16792 z m 21.21809,-5.95578 c 0.80089,-0.56097 0.68463,-1.69142 -0.22082,-2.1472 -0.70466,-0.35471 -1.2726074,-0.42759 -3.1031574,-0.40057 -1.1249,0.0767 -2.9337647,0.3034 -3.2403347,0.37237 0,0 0.993716,0.68678 1.434896,0.93922 0.58731,0.33544 2.0145161,0.95811 3.0565161,1.27706 1.02785,0.31461 1.6224,0.28144 2.0729,-0.0409 z m -8.53152,-3.54594 c -0.4847,-0.50952 -1.30889,-1.57296 -1.83152,-2.3632 -0.68353,-0.89643 -1.02629,-1.52887 -1.02629,-1.52887 0,0 -0.4996,1.60694 -0.90948,2.57394 l -1.27876,3.16076 -0.37075,0.71695 c 0,0 1.971043,-0.64627 2.97389,-0.90822 1.0621668,-0.27744 3.21787,-0.70134 3.21787,-0.70134 z m -2.74938,-11.02573 c 0.12363,-1.0375 0.1761,-2.07346 -0.15724,-2.59587 -0.9246,-1.01077 -2.04057,-0.16787 -1.85154,2.23517 0.0636,0.8084 0.26443,2.19033 0.53292,3.04209 l 0.48817,1.54863 0.34358,-1.16638 c 0.18897,-0.64151 0.47882,-2.02015 0.64411,-3.06364 z"/><path style="fill:rgb(44,44,44);" d="m -20.930423,167.83862 h 2.364986 q 1.133514,0 1.840213,0.2169 0.706698,0.20991 1.189489,0.9446 0.482795,0.72769 0.482795,1.75625 0,0.94459 -0.391832,1.6233 -0.391833,0.67871 -1.056548,0.97958 -0.65772,0.30087 -2.02913,0.30087 h -0.818651 v 3.72941 h -1.581322 z m 1.581322,1.22447 v 3.33058 h 0.783664 q 1.049552,0 1.44838,-0.39184 0.405826,-0.39183 0.405826,-1.27345 0,-0.65772 -0.265887,-1.06355 -0.265884,-0.41282 -0.587747,-0.50378 -0.314866,-0.098 -1.000572,-0.098 z M -13.842461,167.83862 h 2.148082 q 1.560333,0 2.4909318,0.55276 0.9375993,0.55276 1.4133973,1.6443 0.482791,1.09153 0.482791,2.42096 0,1.3994 -0.4338151,2.49793 -0.4268149,1.09153 -1.3154348,1.76324 -0.8816233,0.67172 -2.5189212,0.67172 h -2.267031 z m 1.581326,1.26645 v 7.018 h 0.657715 q 1.378411,0 2.001144,-0.9516 0.6227329,-0.95858 0.6227329,-2.5539 0,-3.5125 -2.6238769,-3.5125 z M -5.7889096,167.83862 h 5.30372941 v 1.26645 H -4.2075842 v 2.85478 h 2.9807225 v 1.26646 h -2.9807225 v 4.16322 h -1.5813254 z"/></g></svg>');
    background-size: 1em 1em;
    display:inline-block;
    width:1em;
    height:1em;
    vertical-align:middle;
}

.container {
    max-width: 1024px; /* 960px; */
}

.site-header {
    /* background-color: rgba(0, 50, 100, 0.85); */
    /* background-color: rgba(56, 68, 168, 1.0); */
    background-color: rgba(21, 35, 153, 0.85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
/*

 x * .85 + 255 * .15 = 56
 x * .85  = 56 - 255 * .15
 x = (56 - 255 * .15) / .85
 x = 56 / .85 - 45

 x = 56 / .75 - 85 = -10 , 6 , 139

*/

.site-header a {
    /* color: #bbb; */
    color: #fff;
    transition: ease-in-out color .15s;
    border-bottom: 2px solid rgba(0,0,0,0);
    margin: .4rem 1rem;
    padding: .1rem 0rem;
}

.site-header a.active {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.site-header a:hover {
    color: #cdf;
    text-decoration: none;
}

.site-footer {
    background-color: rgba(0, 50, 100, 0.06);
}

.contact .name { font-weight: 600; }
.contact .position { }
.contact .instution { }
.contact .email { }

h2 {
    margin-top: -60px;
    padding-top: 60px;
}

h3 {
    font-size: 1.5rem;
    background-color: #eee;
    padding-left: 0.5rem;
    border-radius: 0.5rem;
}

.pubs, .patents {
    padding-left: 0;
    list-style: none;
}

.pubs li, .patents li {
    display: block;
    padding: 8pt 0;
}

.pubs .title {
    font-weight: bold;
    display: block;
}

.conference, .journal {
    font-style: italic;
}

/*
.pubs .links a::before {
    content: "(";
}

.pubs .links a::after {
    content: ")";
}
*/

.pubs .links a + a {
    margin-left: 1em;
}

span.press {
    font-weight: 500;
    margin-right: 1em;
}

.links a, .press a { white-space: nowrap; }

.pubs .press a + a {
    margin-left: 1em;
}

.pubs .author {
    display: block;
}

.author a {
    color: #2a6496;
}

.author a:hover {
    color: #428bca;
}

.award {
    font-weight: 500;
}

@media (min-width: 768px) {
    .bd-sidebar {
        position: sticky;
        z-index: 1000;
        top: 4rem;
        left: 0;
        overflow-x: hidden;
        height: calc(100vh - 4rem);
    }
}

@media (min-width: 480px) {

    .pubs li {
	padding: 8px 0 8px 88px;
	min-height: 80px;
	background-repeat: no-repeat;
	background-position: 0px 16px;
	background-size: 80px 80px;
    }

    .ichnowski2023fogros2 {
        background-image: url(thumb/ichnowski2023fogros2@1x.png);
    }

    .shivakumar2023sgtm2 {
        background-image: url(thumb/shivakumar2023sgtm2@1x.png);
    }

    .kerr2022evonerf {
        background-image: url(thumb/kerr2022evonerf@1x.png);
    }

    .agboh2022mog {
        background-image: url(thumb/agboh2022mog@1x.png);
    }

    .huang2022stacking {
        background-image: url(thumb/huang2022stacking@1x.png);
    }

    .chen2022fling {
        background-image: url(thumb/chen2022fling@1x.png);
    }

    .chen2022fogrosg {
        background-image: url(thumb/chen2022fogrosg@1x.png);
    }

    .hwang2022pegtransfer {
        background-image: url(thumb/hwang2022pegtransfer@1x.png);
    }

    .bonne2022digitaltwin {
        background-image: url(thumb/bonne2022digitaltwin@1x.png);
    }

    .chen2022osa {
        background-image: url(thumb/chen2022osa@1x.png);
    }

    .shivakumar2022autonomously {
        background-image: url(thumb/shivakumar2022autonomously@1x.png);
    }

    .AvigalIchnowski2022gompst {
        background-image: url(thumb/AvigalIchnowski2022gompst.png);
    }

    .lim2022oed {
        background-image: url(thumb/lim2022oed.png);
    }

    .ichnowski2021gompfit {
        background-image: url(thumb/gomp_fit_wine_end@1x.jpg);
    }

    .lim2022prc {
        background-image: url(thumb/lim2022prc@1x.png);
    }

    .fu2022legs {
        background-image: url(thumb/fu2022legs@1x.png);
    }

    .huang2022bluction {
        background-image: url(thumb/huang2022bluction@1x.png);
    }

    .WilcoxKerr2022houston {
        background-image: url(thumb/WilcoxKerr2022houston@1x.png);
    }


    .IchnowskiAvigal2021dexnerf {
        background-image: url(thumb/IchnowskiAvigal2021dexnerf@1x.png);
    }

    .viswanath2021multicable {
        background-image: url(thumb/viswanath2021multicable.png);
    }

    .chen2021fogros {
        background-image: url(thumb/FogROS-Duck.svg);
    }

    .devgon2021kitnet {
        background-image: url(thumb/devgon2021kitnet.png);
    }

    .SundaresanGrannen2021untangling {
        background-image: url(thumb/SundaresanGrannen2021untangling.png);
    }

    .ichnowski2021rlqp {
        background-image: url(thumb/ichnowski2021rlqp.png);
        background-size: 80px 44px !important;
    }

    .hwang2021superhuman {
        background-image: url(thumb/hwang2021superhuman.png);
    }

    .ichnowski2020djgomp {
        background-image: url(thumb/48.cover-source.gif); /* 122 x 155 */
        background-size: 80px 102px !important;
    }

    .HuangDominguezKuhne2020laxray {
        background-image: url(thumb/laxray.png);
    }

    .kurenkov2020hms {
        background-image: url(thumb/kurenkov2020hms.png);
        background-size: 80px 66px !important;
    }

    .zhang2021lostarc {
        background-image: url(thumb/zhang2021lostarc.png);
    }

    .anand2021 {
        background-image: url(thumb/anand2021.png);
    }

    .paradis2021ivs {
        background-image: url(thumb/paradis2021ivs.png);
    }

    .GrannenSundaresan2020HULK {
        background-image: url(thumb/GrannenSundaresan2020HULK.png);
    }

    .tro2013 {
	background-image: url(thumb/TRO2013.png);
    }

    .iros2012 {
	background-image: url(thumb/IROS2012.png);
    }

    .icra2014 {
	background-image: url(thumb/ICRA2014.png);
	background-size: 80px 46px !important;
    }

    .wafr2014 {
	background-image: url(thumb/WAFR2014.png);
    }

    .wafr2016 {
	background-image: url(thumb/cloud.png);
    }

    .isrr2017 {
	background-image: url(thumb/ISRR2017.jpg);
    }

    .wafr2018 {
        background-image: url(thumb/WAFR2018.svg);
    }

    .icra2019 {
        background-image: url(thumb/ICRA2019.svg);
        background-size: 80px 57px !important;
    }

    .iros2019 {
        background-image: url(thumb/iros2019.svg);
        background-size: 80px 71px !important;
    }

    .dissertation {
        background-image: url(thumb/dissertation.png);
    }

    .wang2019adversarial {
        background-image: url(thumb/wang2019.png);
    }

    .zhang2020dexnetar {
        background-image: url(thumb/zhang2020.png);
    }

    .xu2020minimal {
        background-image: url(thumb/xu2020.png);
    }

    .ichnowski2020fog {
        background-image: url(thumb/ichnowski2020fog.png);
    }

    .ichnowski2020gomp {
        background-image: url(thumb/ichnowski2020gomp.png);
    }

    .hwang2020calibrating {
        background-image: url(thumb/hwang2020calibrating.png);
    }

    .seita2020deep {
        background-image: url(thumb/seita2020deep.png);
    }

    .devgon2020orienting {
        background-image: url(thumb/devgon2020orienting.png);
    }

    .song2020robust {
        background-image: url(thumb/song2020robust.png);
    }

    .hwangseita2020applying {
        background-image: url(thumb/hwangseita2020applying.png);
    }

    .schenney-tilt {
	background-image: url(thumb/tilt-small.png);
	background-size: 80px 74.8px !important;
    }

    .schenney-vrml {
	background-image: url(thumb/vrml-small.png);
	background-size: 80px 50px !important;
    }

    @media only screen and (min--moz-device-pixel-ratio: 2),
           only screen and (-o-min-device-pixel-ratio: 2/1),
           only screen and (-webkit-min-device-pixel-ratio: 2),
           only screen and (min-device-pixel-ratio: 2) {

        .ichnowski2023fogros2 {
            background-image: url(thumb/ichnowski2023fogros2@2x.png);
        }

        .shivakumar2023sgtm2 {
            background-image: url(thumb/shivakumar2023sgtm2@2x.png);
        }
        
        .kerr2022evonerf {
            background-image: url(thumb/kerr2022evonerf@2x.png);
        }

        .agboh2022mog {
            background-image: url(thumb/agboh2022mog@2x.png);
        }

        .huang2022stacking {
            background-image: url(thumb/huang2022stacking@2x.png);
        }
        
        .chen2022fling {
            background-image: url(thumb/chen2022fling@2x.png);
        }

        .chen2022fogrosg {
            background-image: url(thumb/chen2022fogrosg@2x.png);
        }

        .hwang2022pegtransfer {
            background-image: url(thumb/hwang2022pegtransfer@2x.png);
        }

        .bonne2022digitaltwin {
            background-image: url(thumb/bonne2022digitaltwin@2x.png);
        }

        .chen2022osa {
            background-image: url(thumb/chen2022osa@2x.png);
        }

        .shivakumar2022autonomously {
            background-image: url(thumb/shivakumar2022autonomously@2x.png);
        }
        
        .AvigalIchnowski2022gompst {
            background-image: url(thumb/AvigalIchnowski2022gompst@2x.png);
        }
        
        .lim2022oed {
            background-image: url(thumb/lim2022oed@2x.png);
        }
        
        .ichnowski2021gompfit {
            background-image: url(thumb/gomp_fit_wine_end@2x.jpg);
        }

        .lim2022prc {
            background-image: url(thumb/lim2022prc@2x.png);
        }

        .fu2022legs {
            background-image: url(thumb/fu2022legs@2x.png);
        }

        .huang2022bluction {
            background-image: url(thumb/huang2022bluction@2x.png);
        }

        .WilcoxKerr2022houston {
            background-image: url(thumb/WilcoxKerr2022houston@2x.png);
        }

        .IchnowskiAvigal2021dexnerf {
            background-image: url(thumb/IchnowskiAvigal2021dexnerf@2x.png);
        }

        .ichnowski2020djgomp {
            background-image: url(thumb/F1.medium.gif); /* 346 x 440 */
            background-size: 80px 102px;
        }

        .HuangDominguezKuhne2020laxray {
            background-image: url(thumb/laxray@2x.png);
        }

        .kurenkov2020hms {
            background-image: url(thumb/kurenkov2020hms@2x.png);
            background-size: 80px 66px;
        }

        .zhang2021lostarc {
            background-image: url(thumb/zhang2021lostarc@2x.png);
        }

        .anand2021 {
            background-image: url(thumb/anand2021@2x.png);
        }

        .paradis2021ivs {
            background-image: url(thumb/paradis2021ivs@2x.png);
        }

        .GrannenSundaresan2020HULK {
            background-image: url(thumb/GrannenSundaresan2020HULK@2x.png);
        }

        .tro2013 {
	    background-image: url(thumb/TRO2013@2x.png);
	}

	.iros2012 {
	    background-image: url(thumb/IROS2012@2x.png);
	}

	.icra2014 {
	    background-image: url(thumb/ICRA2014@2x.png);
	}

	.wafr2014 {
	    background-image: url(thumb/WAFR2014@2x.png);
	}

	.wafr2016 {
	    background-image: url(thumb/cloud@2x.png);
	}

	.isrr2017 {
	    background-image: url(thumb/ISRR2017@2x.jpg);
	}

        .dissertation {
            background-image: url(thumb/dissertation@2x.png);
        }

        .wang2019adversarial {
            background-image: url(thumb/wang2019@2x.png);
        }

        .zhang2020dexnetar {
            background-image: url(thumb/zhang2020@2x.png);
        }

        .xu2020minimal {
            background-image: url(thumb/xu2020@2x.png);
        }

        .ichnowski2020fog {
            background-image: url(thumb/ichnowski2020fog@2x.png);
        }

        .ichnowski2020gomp {
            background-image: url(thumb/ichnowski2020gomp@2x.png);
        }

        .hwang2020calibrating {
            background-image: url(thumb/hwang2020calibrating@2x.png);
        }

        .hwangseita2020applying {
            background-image: url(thumb/hwangseita2020applying@2x.png);
        }

        .seita2020deep {
            background-image: url(thumb/seita2020deep@2x.png);
        }

        .devgon2020orienting {
            background-image: url(thumb/devgon2020orienting@2x.png);
        }

        .song2020robust {
            background-image: url(thumb/song2020robust@2x.png);
        }
    }
}
